<section class="grid__container">
  <%= link_to new_food_path do %>
    <button class="btn btn-primary p-2 border-0 text-light fw-bold my-2">Add Food</button>
  <% end %>

  <%= render 'table' %>
</section>
